# Import Stataments

In [1]:
#Basic Import Statements
import pandas as pd
import numpy as np
import json

#Plot Import Statements
import seaborn as sns
import matplotlib.pyplot as plt

#To Ignore Warnings in Output
import warnings
warnings.filterwarnings('ignore')

## Converting Review Json file to Dataframe

###### Review file

In [2]:
#since pd.readjson will cause memeory error, we read the file line by line
path = '../data/input_json_files/yelp_academic_dataset_review.json'
review = []
with open(path, encoding = 'utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        review.append(line_contents)

In [3]:
review = pd.DataFrame(review)
review.shape

(6990280, 9)

In [4]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
#Dropping unnecessary columns in review file.
review.to_csv('../data/output_csv/review.csv',index = False)

# Fetching from csv

In [6]:
review = pd.read_csv('../data/output_csv/review.csv')
business = pd.read_csv('../data/output_csv/business_PA_clean.csv')

##### Getting only the reviews of food category restraurants in PA state

In [7]:
business_id_ls = business.business_id.unique()

In [8]:
review_index = []
for i in range(review.shape[0]):
    if review.business_id[i] in business_id_ls:
        review_index.append(i)

In [9]:
review = review.iloc[review_index,:]

In [10]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
16,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5.0,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25
19,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5.0,0,0,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27
26,G_5UczbCBJriUAbxz3J7Tw,clWLI5OZP2ad25ugMVI8gg,x4XdNhp0Xn8lOivzc77J-g,5.0,0,0,0,Best thai food in the area. Everything was au...,2013-08-15 15:27:51

In [11]:
review.shape

(903030, 9)

In [12]:
yr_ls = [eval(x.split('-')[0]) for x in review.date]
review['year'] = yr_ls

In [13]:
review = review.reset_index(drop = True)

In [14]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,2018
1,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,2015
2,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5.0,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25,2013
3,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5.0,0,0,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27,2014
4,G_5UczbCBJriUAbxz3J7Tw,clWLI5OZP2ad25ugMVI8gg,x4XdNhp0Xn8lOivzc77J-g,5.0,0,0,0,Best thai food in the area. Everything was au...,2013-08-15 15:27:51,2013

In [15]:
review.shape

(903030, 10)

In [16]:
review = review.drop(columns = ['useful','funny','cool','date','text'])
review['stars'] = review['stars'].astype(int)

In [17]:
#WRITE THE FILE INTO CSV FORMAT
review.to_csv('../data/output_csv/review_PA_clean.csv',index = False)

##### Getting Only Philly reviews

In [18]:
review = pd.read_csv('../data/output_csv/review_PA_clean.csv')
business = pd.read_csv('../data/output_csv/business_PA_Philly_clean.csv')

In [19]:
business_id_ls = business.business_id.unique()

In [20]:
review_index = []
for i in range(review.shape[0]):
    if review.business_id[i] in business_id_ls:
        review_index.append(i)

In [21]:
review = review.iloc[review_index,:]

In [22]:
review = review.reset_index(drop = True)

In [23]:
#WRITE THE FILE INTO CSV FORMAT
review.to_csv('../data/output_csv/review_PA_Philly_clean.csv',index = False)